/* style.css */


body{
  background: #BDD0EE;
  color: #000; 
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  margin:0;
}

footer{
  background: ##BDD0EE;
  color: #A93226; 
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  margin:5;
  text-align: center;
}

nav{
  display:inline;
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
} 

h1{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color:  #41A3C0; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #F8F9F9;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #FDFEFE;
}

a { 
  color: #29324B;
}
.red{
  color:red;
}

a:hover {
  text-decoration: none;
  color: rgb(225, 0, 152);
}

#logo{
  color: rgb(225, 0, 152);
  font-size: 35px;
  font-family: 'Pacifico', cursive;
}

/* Mis en forme de la baseline */
#baseline{
  background-color: #2ECC71;
  background-image: url('https://static1.squarespace.com/static/5391d95de4b098aaf51595fc/t/56cb5f40f699bb3574be15c6/1456168775501/');
  text-align: center;
  background-size: cover;
  padding: 100px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#download{
  text-align: center;
  color: white;
}

#baseline h1 {
  color: white;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}
.feature,.defi{
  border: 15px solid #F2F2F2;
  background: #BDD0EE;
  margin: 15px;
  padding: 15px 0;
  text-align: center;
  width: 400px;
}

 #defis{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

 #apropos{
  margin: 0 auto;
  width: 80%;
  background: #BDD0EE;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

#logo{
  color: #fff;
  font-size: 35px;
  font-family: 'Pacifico', cursive;
  float: left;
  margin-left: 50px;
}

#baseline a:hover {
  position: relative;
  top:1px;
}

#welcome{
background-image: url('https://static1.squarespace.com/static/5391d95de4b098aaf51595fc/t/56cb5f40f699bb3574be15c6/1456168775501/');
  width: auto;
  text-align: center;
  padding: 80px;
  color: white;
}

#welcome h4{
 font-size: 50px;
}


